@font-face {
  font-family: "Figtree";
  src: url(../fonts/Figtree-VariableFont_wght.ttf);
  font-weight: 500 800;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
  --font-family: "Figtree";
  --bold: 800;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--Yellow);
  font-family: var(--font-family);
}

p {
  font-size: clamp(0.5rem, -0.2143rem + 5.7143vw, 1rem);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  max-width: 340px;
  width: 70%;
  min-width: 200px;
  height: fit-content;
  background-color: var(--White);
  border-radius: 0.625rem;
  padding: 20px;
  border: solid 1px var(--Gray-950);
  box-shadow: 0.325rem 0.325rem 0px var(--Gray-950);
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.term {
  padding: 0.425rem 0.625rem;
  background-color: var(--Yellow);
  width: fit-content;
  border-radius: 0.325rem;
  font-weight: var(--bold);

  transition: 0.2s;
}
.term:hover {
  color: var(--White);
}

.info .title {
  font-size: clamp(0.725rem, -0.2393rem + 7.7143vw, 1.4rem);
  font-weight: var(--bold);
  transition: 0.2s;
}
.info .title:hover,
.author p:hover {
  color: var(--Yellow);
}

.info .description {
  color: var(--Gray-500);
  line-height: 1.5;
}
.author {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-weight: var(--bold);
  transition: 0.2s;
}
.author p {
  transition: 0.2s;
}
.author img {
  width: 2rem;
}
.attribution {
  font-size: 1.3rem;
  text-align: center;
  margin-block-start: 4rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
